@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-bbnksg');
	src:url('fonts/icomoon.eot?#iefix-bbnksg') format('embedded-opentype'),
		url('fonts/icomoon.woff?-bbnksg') format('woff'),
		url('fonts/icomoon.ttf?-bbnksg') format('truetype'),
		url('fonts/icomoon.svg?-bbnksg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-3d-rotation:before {
	content: "\e62a";
}

.icon-accessibility:before {
	content: "\e62b";
}

.icon-account-balance:before {
	content: "\e62c";
}

.icon-account-balance-wallet:before {
	content: "\e62d";
}

.icon-account-box:before {
	content: "\e62e";
}

.icon-account-child:before {
	content: "\e62f";
}

.icon-account-circle:before {
	content: "\e630";
}

.icon-add-shopping-cart:before {
	content: "\e631";
}

.icon-alarm:before {
	content: "\e632";
}

.icon-alarm-add:before {
	content: "\e633";
}

.icon-alarm-off:before {
	content: "\e634";
}

.icon-alarm-on:before {
	content: "\e635";
}

.icon-android2:before {
	content: "\e636";
}

.icon-announcement:before {
	content: "\e637";
}

.icon-aspect-ratio:before {
	content: "\e638";
}

.icon-assessment:before {
	content: "\e639";
}

.icon-assignment:before {
	content: "\e63a";
}

.icon-assignment-ind:before {
	content: "\e63b";
}

.icon-assignment-late:before {
	content: "\e63c";
}

.icon-assignment-return:before {
	content: "\e63d";
}

.icon-assignment-returned:before {
	content: "\e63e";
}

.icon-assignment-turned-in:before {
	content: "\e63f";
}

.icon-autorenew:before {
	content: "\e640";
}

.icon-backup:before {
	content: "\e641";
}

.icon-book:before {
	content: "\e642";
}

.icon-bookmark:before {
	content: "\e643";
}

.icon-bookmark-outline:before {
	content: "\e644";
}

.icon-bug-report:before {
	content: "\e645";
}

.icon-cached:before {
	content: "\e646";
}

.icon-class:before {
	content: "\e647";
}

.icon-credit-card:before {
	content: "\e648";
}

.icon-dashboard:before {
	content: "\e649";
}

.icon-delete:before {
	content: "\e64a";
}

.icon-description:before {
	content: "\e64b";
}

.icon-dns:before {
	content: "\e64c";
}

.icon-done:before {
	content: "\e64d";
}

.icon-done-all:before {
	content: "\e64e";
}

.icon-event:before {
	content: "\e64f";
}

.icon-exit-to-app:before {
	content: "\e650";
}

.icon-explore:before {
	content: "\e651";
}

.icon-extension:before {
	content: "\e652";
}

.icon-face-unlock:before {
	content: "\e653";
}

.icon-favorite:before {
	content: "\e654";
}

.icon-favorite-outline:before {
	content: "\e655";
}

.icon-find-in-page:before {
	content: "\e656";
}

.icon-find-replace:before {
	content: "\e657";
}

.icon-flip-to-back:before {
	content: "\e658";
}

.icon-flip-to-front:before {
	content: "\e659";
}

.icon-get-app:before {
	content: "\e65a";
}

.icon-grade:before {
	content: "\e65b";
}

.icon-group-work:before {
	content: "\e65c";
}

.icon-help:before {
	content: "\e65d";
}

.icon-highlight-remove:before {
	content: "\e65e";
}

.icon-history:before {
	content: "\e65f";
}

.icon-home:before {
	content: "\e660";
}

.icon-https:before {
	content: "\e661";
}

.icon-info:before {
	content: "\e662";
}

.icon-info-outline:before {
	content: "\e663";
}

.icon-input:before {
	content: "\e664";
}

.icon-invert-colors:before {
	content: "\e665";
}

.icon-label:before {
	content: "\e666";
}

.icon-label-outline:before {
	content: "\e667";
}

.icon-language:before {
	content: "\e668";
}

.icon-launch:before {
	content: "\e669";
}

.icon-list:before {
	content: "\e66a";
}

.icon-lock:before {
	content: "\e66b";
}

.icon-lock-open:before {
	content: "\e66c";
}

.icon-lock-outline:before {
	content: "\e66d";
}

.icon-loyalty:before {
	content: "\e66e";
}

.icon-markunread-mailbox:before {
	content: "\e66f";
}

.icon-note-add:before {
	content: "\e670";
}

.icon-open-in-browser:before {
	content: "\e671";
}

.icon-open-in-new:before {
	content: "\e672";
}

.icon-open-with:before {
	content: "\e673";
}

.icon-pageview:before {
	content: "\e674";
}

.icon-payment:before {
	content: "\e675";
}

.icon-perm-camera-m:before {
	content: "\e676";
}

.icon-perm-contact-cal:before {
	content: "\e677";
}

.icon-perm-data-setting:before {
	content: "\e678";
}

.icon-perm-device-info:before {
	content: "\e679";
}

.icon-perm-identity:before {
	content: "\e67a";
}

.icon-perm-media:before {
	content: "\e67b";
}

.icon-perm-phone-msg:before {
	content: "\e67c";
}

.icon-perm-scan-wifi:before {
	content: "\e67d";
}

.icon-picture-in-picture:before {
	content: "\e67e";
}

.icon-polymer:before {
	content: "\e67f";
}

.icon-print:before {
	content: "\e680";
}

.icon-query-builder:before {
	content: "\e681";
}

.icon-question-answer:before {
	content: "\e682";
}

.icon-receipt:before {
	content: "\e683";
}

.icon-redeem:before {
	content: "\e684";
}

.icon-reorder:before {
	content: "\e685";
}

.icon-report-problem:before {
	content: "\e686";
}

.icon-restore:before {
	content: "\e687";
}

.icon-room:before {
	content: "\e688";
}

.icon-schedule:before {
	content: "\e689";
}

.icon-search:before {
	content: "\e68a";
}

.icon-settings:before {
	content: "\e68b";
}

.icon-settings-applications:before {
	content: "\e68c";
}

.icon-settings-backup-restore:before {
	content: "\e68d";
}

.icon-settings-bluetooth:before {
	content: "\e68e";
}

.icon-settings-cell:before {
	content: "\e68f";
}

.icon-settings-display:before {
	content: "\e690";
}

.icon-settings-ethernet:before {
	content: "\e691";
}

.icon-settings-input-antenna:before {
	content: "\e692";
}

.icon-settings-input-component:before {
	content: "\e693";
}

.icon-settings-input-composite:before {
	content: "\e694";
}

.icon-settings-input-hdmi:before {
	content: "\e695";
}

.icon-settings-input-svideo:before {
	content: "\e696";
}

.icon-settings-overscan:before {
	content: "\e697";
}

.icon-settings-phone:before {
	content: "\e698";
}

.icon-settings-power:before {
	content: "\e699";
}

.icon-settings-remote:before {
	content: "\e69a";
}

.icon-settings-voice:before {
	content: "\e69b";
}

.icon-shop:before {
	content: "\e69c";
}

.icon-shop-two:before {
	content: "\e69d";
}

.icon-shopping-basket:before {
	content: "\e69e";
}

.icon-shopping-cart:before {
	content: "\e69f";
}

.icon-speaker-notes:before {
	content: "\e6a0";
}

.icon-spellcheck:before {
	content: "\e6a1";
}

.icon-star-rate:before {
	content: "\e6a2";
}

.icon-stars:before {
	content: "\e6a3";
}

.icon-store:before {
	content: "\e6a4";
}

.icon-subject:before {
	content: "\e6a5";
}

.icon-supervisor-account:before {
	content: "\e6a6";
}

.icon-swap-horiz:before {
	content: "\e6a7";
}

.icon-swap-vert:before {
	content: "\e6a8";
}

.icon-swap-vert-circle:before {
	content: "\e6a9";
}

.icon-system-update-tv:before {
	content: "\e6aa";
}

.icon-tab:before {
	content: "\e6ab";
}

.icon-tab-unselected:before {
	content: "\e6ac";
}

.icon-theaters:before {
	content: "\e6ad";
}

.icon-thumb-down:before {
	content: "\e6ae";
}

.icon-thumb-up:before {
	content: "\e6af";
}

.icon-thumbs-up-down:before {
	content: "\e6b0";
}

.icon-toc:before {
	content: "\e6b1";
}

.icon-today:before {
	content: "\e6b2";
}

.icon-track-changes:before {
	content: "\e6b3";
}

.icon-translate:before {
	content: "\e6b4";
}

.icon-trending-down:before {
	content: "\e6b5";
}

.icon-trending-neutral:before {
	content: "\e6b6";
}

.icon-trending-up:before {
	content: "\e6b7";
}

.icon-turned-in:before {
	content: "\e6b8";
}

.icon-turned-in-not:before {
	content: "\e6b9";
}

.icon-verified-user:before {
	content: "\e6ba";
}

.icon-view-agenda:before {
	content: "\e6bb";
}

.icon-view-array:before {
	content: "\e6bc";
}

.icon-view-carousel:before {
	content: "\e6bd";
}

.icon-view-column:before {
	content: "\e6be";
}

.icon-view-day:before {
	content: "\e6bf";
}

.icon-view-headline:before {
	content: "\e6c0";
}

.icon-view-list:before {
	content: "\e6c1";
}

.icon-view-module:before {
	content: "\e6c2";
}

.icon-view-quilt:before {
	content: "\e6c3";
}

.icon-view-stream:before {
	content: "\e6c4";
}

.icon-view-week:before {
	content: "\e6c5";
}

.icon-visibility:before {
	content: "\e6c6";
}

.icon-visibility-off:before {
	content: "\e6c7";
}

.icon-wallet-giftcard:before {
	content: "\e6c8";
}

.icon-wallet-membership:before {
	content: "\e6c9";
}

.icon-wallet-travel:before {
	content: "\e6ca";
}

.icon-work:before {
	content: "\e6cb";
}

.icon-error:before {
	content: "\e6cc";
}

.icon-warning:before {
	content: "\e6cd";
}

.icon-album:before {
	content: "\e6ce";
}

.icon-av-timer:before {
	content: "\e6cf";
}

.icon-closed-caption:before {
	content: "\e6d0";
}

.icon-equalizer:before {
	content: "\e6d1";
}

.icon-explicit:before {
	content: "\e6d2";
}

.icon-fast-forward:before {
	content: "\e6d3";
}

.icon-fast-rewind:before {
	content: "\e6d4";
}

.icon-games:before {
	content: "\e6d5";
}

.icon-hearing:before {
	content: "\e6d6";
}

.icon-high-quality:before {
	content: "\e6d7";
}

.icon-loop:before {
	content: "\e6d8";
}

.icon-mic:before {
	content: "\e6d9";
}

.icon-mnone:before {
	content: "\e6da";
}

.icon-moff:before {
	content: "\e6db";
}

.icon-movie:before {
	content: "\e6dc";
}

.icon-my-library-add:before {
	content: "\e6dd";
}

.icon-my-library-books:before {
	content: "\e6de";
}

.icon-my-library-mus:before {
	content: "\e6df";
}

.icon-new-releases:before {
	content: "\e6e0";
}

.icon-not-interested:before {
	content: "\e6e1";
}

.icon-pause:before {
	content: "\e6e2";
}

.icon-pause-circle-fill:before {
	content: "\e6e3";
}

.icon-pause-circle-outline:before {
	content: "\e6e4";
}

.icon-play-arrow:before {
	content: "\e6e5";
}

.icon-play-circle-fill:before {
	content: "\e6e6";
}

.icon-play-circle-outline:before {
	content: "\e6e7";
}

.icon-play-shopping-bag:before {
	content: "\e6e8";
}

.icon-playlist-add:before {
	content: "\e6e9";
}

.icon-queue:before {
	content: "\e6ea";
}

.icon-queue-mus:before {
	content: "\e6eb";
}

.icon-radio:before {
	content: "\e6ec";
}

.icon-recent-actors:before {
	content: "\e6ed";
}

.icon-repeat:before {
	content: "\e6ee";
}

.icon-repeat-one:before {
	content: "\e6ef";
}

.icon-replay:before {
	content: "\e6f0";
}

.icon-shuffle:before {
	content: "\e6f1";
}

.icon-skip-next:before {
	content: "\e6f2";
}

.icon-skip-previous:before {
	content: "\e6f3";
}

.icon-snooze:before {
	content: "\e6f4";
}

.icon-stop:before {
	content: "\e6f5";
}

.icon-subtitles:before {
	content: "\e6f6";
}

.icon-surround-sound:before {
	content: "\e6f7";
}

.icon-video-collection:before {
	content: "\e6f8";
}

.icon-videocam:before {
	content: "\e6f9";
}

.icon-videocam-off:before {
	content: "\e6fa";
}

.icon-volume-down:before {
	content: "\e6fb";
}

.icon-volume-mute:before {
	content: "\e6fc";
}

.icon-volume-off:before {
	content: "\e6fd";
}

.icon-volume-up:before {
	content: "\e6fe";
}

.icon-web:before {
	content: "\e6ff";
}

.icon-business:before {
	content: "\e700";
}

.icon-call:before {
	content: "\e701";
}

.icon-call-end:before {
	content: "\e702";
}

.icon-call-made:before {
	content: "\e703";
}

.icon-call-merge:before {
	content: "\e704";
}

.icon-call-missed:before {
	content: "\e705";
}

.icon-call-received:before {
	content: "\e706";
}

.icon-call-split:before {
	content: "\e707";
}

.icon-chat:before {
	content: "\e708";
}

.icon-clear-all:before {
	content: "\e709";
}

.icon-comment:before {
	content: "\e70a";
}

.icon-contacts:before {
	content: "\e70b";
}

.icon-dialer-sip:before {
	content: "\e70c";
}

.icon-dialpad:before {
	content: "\e70d";
}

.icon-dnd-on:before {
	content: "\e70e";
}

.icon-email:before {
	content: "\e70f";
}

.icon-forum:before {
	content: "\e710";
}

.icon-import-export:before {
	content: "\e711";
}

.icon-invert-colors-off:before {
	content: "\e712";
}

.icon-invert-colors-on:before {
	content: "\e713";
}

.icon-live-help:before {
	content: "\e714";
}

.icon-location-off:before {
	content: "\e715";
}

.icon-location-on:before {
	content: "\e716";
}

.icon-message:before {
	content: "\e717";
}

.icon-messenger:before {
	content: "\e718";
}

.icon-no-sim:before {
	content: "\e719";
}

.icon-phone:before {
	content: "\e71a";
}

.icon-portable-wifi-off:before {
	content: "\e71b";
}

.icon-quick-contacts-dialer:before {
	content: "\e71c";
}

.icon-quick-contacts-mail:before {
	content: "\e71d";
}

.icon-ring-volume:before {
	content: "\e71e";
}

.icon-stay-current-landscape:before {
	content: "\e71f";
}

.icon-stay-current-portrait:before {
	content: "\e720";
}

.icon-stay-primary-landscape:before {
	content: "\e721";
}

.icon-stay-primary-portrait:before {
	content: "\e722";
}

.icon-swap-calls:before {
	content: "\e723";
}

.icon-textsms:before {
	content: "\e724";
}

.icon-voicemail:before {
	content: "\e725";
}

.icon-vpn-key:before {
	content: "\e726";
}

.icon-add:before {
	content: "\e727";
}

.icon-add-box:before {
	content: "\e728";
}

.icon-add-circle:before {
	content: "\e729";
}

.icon-add-circle-outline:before {
	content: "\e72a";
}

.icon-archive:before {
	content: "\e72b";
}

.icon-backspace:before {
	content: "\e72c";
}

.icon-block:before {
	content: "\e72d";
}

.icon-clear:before {
	content: "\e72e";
}

.icon-content-copy:before {
	content: "\e72f";
}

.icon-content-cut:before {
	content: "\e730";
}

.icon-content-paste:before {
	content: "\e731";
}

.icon-create:before {
	content: "\e732";
}

.icon-drafts:before {
	content: "\e733";
}

.icon-filter-list:before {
	content: "\e734";
}

.icon-flag:before {
	content: "\e735";
}

.icon-forward:before {
	content: "\e736";
}

.icon-gesture:before {
	content: "\e737";
}

.icon-inbox:before {
	content: "\e738";
}

.icon-link:before {
	content: "\e739";
}

.icon-mail:before {
	content: "\e73a";
}

.icon-markunread:before {
	content: "\e73b";
}

.icon-redo:before {
	content: "\e73c";
}

.icon-remove:before {
	content: "\e73d";
}

.icon-remove-circle:before {
	content: "\e73e";
}

.icon-remove-circle-outline:before {
	content: "\e73f";
}

.icon-reply:before {
	content: "\e740";
}

.icon-reply-all:before {
	content: "\e741";
}

.icon-report:before {
	content: "\e742";
}

.icon-save:before {
	content: "\e743";
}

.icon-select-all:before {
	content: "\e744";
}

.icon-send:before {
	content: "\e745";
}

.icon-sort:before {
	content: "\e746";
}

.icon-text-format:before {
	content: "\e747";
}

.icon-undo:before {
	content: "\e748";
}

.icon-access-alarm:before {
	content: "\e749";
}

.icon-access-alarms:before {
	content: "\e74a";
}

.icon-access-time:before {
	content: "\e74b";
}

.icon-add-alarm:before {
	content: "\e74c";
}

.icon-airplanemode-off:before {
	content: "\e74d";
}

.icon-airplanemode-on:before {
	content: "\e74e";
}

.icon-battery-20:before {
	content: "\e74f";
}

.icon-battery-30:before {
	content: "\e750";
}

.icon-battery-50:before {
	content: "\e751";
}

.icon-battery-60:before {
	content: "\e752";
}

.icon-battery-80:before {
	content: "\e753";
}

.icon-battery-90:before {
	content: "\e754";
}

.icon-battery-alert:before {
	content: "\e755";
}

.icon-battery-charging-20:before {
	content: "\e756";
}

.icon-battery-charging-30:before {
	content: "\e757";
}

.icon-battery-charging-50:before {
	content: "\e758";
}

.icon-battery-charging-60:before {
	content: "\e759";
}

.icon-battery-charging-80:before {
	content: "\e75a";
}

.icon-battery-charging-90:before {
	content: "\e75b";
}

.icon-battery-charging-full:before {
	content: "\e75c";
}

.icon-battery-full:before {
	content: "\e75d";
}

.icon-battery-std:before {
	content: "\e75e";
}

.icon-battery-unknown:before {
	content: "\e75f";
}

.icon-bluetooth:before {
	content: "\e760";
}

.icon-bluetooth-connected:before {
	content: "\e761";
}

.icon-bluetooth-disabled:before {
	content: "\e762";
}

.icon-bluetooth-searching:before {
	content: "\e763";
}

.icon-brightness-auto:before {
	content: "\e764";
}

.icon-brightness-high:before {
	content: "\e765";
}

.icon-brightness-low:before {
	content: "\e766";
}

.icon-brightness-medium:before {
	content: "\e767";
}

.icon-data-usage:before {
	content: "\e768";
}

.icon-developer-mode:before {
	content: "\e769";
}

.icon-devices:before {
	content: "\e76a";
}

.icon-dvr:before {
	content: "\e76b";
}

.icon-gps-fixed:before {
	content: "\e76c";
}

.icon-gps-not-fixed:before {
	content: "\e76d";
}

.icon-gps-off:before {
	content: "\e76e";
}

.icon-location-disabled:before {
	content: "\e76f";
}

.icon-location-searching:before {
	content: "\e770";
}

.icon-multitrack-audio:before {
	content: "\e771";
}

.icon-network-cell:before {
	content: "\e772";
}

.icon-network-wifi:before {
	content: "\e773";
}

.icon-nfc:before {
	content: "\e774";
}

.icon-now-wallpaper:before {
	content: "\e775";
}

.icon-now-widgets:before {
	content: "\e776";
}

.icon-screen-lock-landscape:before {
	content: "\e777";
}

.icon-screen-lock-portrait:before {
	content: "\e778";
}

.icon-screen-lock-rotation:before {
	content: "\e779";
}

.icon-screen-rotation:before {
	content: "\e77a";
}

.icon-sd-storage:before {
	content: "\e77b";
}

.icon-settings-system-daydream:before {
	content: "\e77c";
}

.icon-signal-cellular-0-bar:before {
	content: "\e77d";
}

.icon-signal-cellular-1-bar:before {
	content: "\e77e";
}

.icon-signal-cellular-2-bar:before {
	content: "\e77f";
}

.icon-signal-cellular-3-bar:before {
	content: "\e780";
}

.icon-signal-cellular-4-bar:before {
	content: "\e781";
}

.icon-signal-cellular-connected-no-internet-0-bar:before {
	content: "\e782";
}

.icon-signal-cellular-connected-no-internet-1-bar:before {
	content: "\e783";
}

.icon-signal-cellular-connected-no-internet-2-bar:before {
	content: "\e784";
}

.icon-signal-cellular-connected-no-internet-3-bar:before {
	content: "\e785";
}

.icon-signal-cellular-connected-no-internet-4-bar:before {
	content: "\e786";
}

.icon-signal-cellular-no-sim:before {
	content: "\e787";
}

.icon-signal-cellular-null:before {
	content: "\e788";
}

.icon-signal-cellular-off:before {
	content: "\e789";
}

.icon-signal-wifi-0-bar:before {
	content: "\e78a";
}

.icon-signal-wifi-1-bar:before {
	content: "\e78b";
}

.icon-signal-wifi-2-bar:before {
	content: "\e78c";
}

.icon-signal-wifi-3-bar:before {
	content: "\e78d";
}

.icon-signal-wifi-4-bar:before {
	content: "\e78e";
}

.icon-signal-wifi-off:before {
	content: "\e78f";
}

.icon-signal-wifi-statusbar-1-bar:before {
	content: "\e790";
}

.icon-signal-wifi-statusbar-2-bar:before {
	content: "\e791";
}

.icon-signal-wifi-statusbar-3-bar:before {
	content: "\e792";
}

.icon-signal-wifi-statusbar-4-bar:before {
	content: "\e793";
}

.icon-signal-wifi-statusbar-connected-no-internet-1:before {
	content: "\e794";
}

.icon-signal-wifi-statusbar-connected-no-internet-2:before {
	content: "\e795";
}

.icon-signal-wifi-statusbar-connected-no-internet-3:before {
	content: "\e796";
}

.icon-signal-wifi-statusbar-connected-no-internet-4:before {
	content: "\e797";
}

.icon-signal-wifi-statusbar-connected-no-internet:before {
	content: "\e798";
}

.icon-signal-wifi-statusbar-not-connected:before {
	content: "\e799";
}

.icon-signal-wifi-statusbar-null:before {
	content: "\e79a";
}

.icon-storage:before {
	content: "\e79b";
}

.icon-usb:before {
	content: "\e79c";
}

.icon-wifi-lock:before {
	content: "\e79d";
}

.icon-wifi-tethering:before {
	content: "\e79e";
}

.icon-attach-file:before {
	content: "\e79f";
}

.icon-attach-money:before {
	content: "\e7a0";
}

.icon-border-all:before {
	content: "\e7a1";
}

.icon-border-bottom:before {
	content: "\e7a2";
}

.icon-border-clear:before {
	content: "\e7a3";
}

.icon-border-color:before {
	content: "\e7a4";
}

.icon-border-horizontal:before {
	content: "\e7a5";
}

.icon-border-inner:before {
	content: "\e7a6";
}

.icon-border-left:before {
	content: "\e7a7";
}

.icon-border-outer:before {
	content: "\e7a8";
}

.icon-border-right:before {
	content: "\e7a9";
}

.icon-border-style:before {
	content: "\e7aa";
}

.icon-border-top:before {
	content: "\e7ab";
}

.icon-border-vertical:before {
	content: "\e7ac";
}

.icon-format-align-center:before {
	content: "\e7ad";
}

.icon-format-align-justify:before {
	content: "\e7ae";
}

.icon-format-align-left:before {
	content: "\e7af";
}

.icon-format-align-right:before {
	content: "\e7b0";
}

.icon-format-bold:before {
	content: "\e7b1";
}

.icon-format-clear:before {
	content: "\e7b2";
}

.icon-format-color-fill:before {
	content: "\e7b3";
}

.icon-format-color-reset:before {
	content: "\e7b4";
}

.icon-format-color-text:before {
	content: "\e7b5";
}

.icon-format-indent-decrease:before {
	content: "\e7b6";
}

.icon-format-indent-increase:before {
	content: "\e7b7";
}

.icon-format-ital:before {
	content: "\e7b8";
}

.icon-format-line-spacing:before {
	content: "\e7b9";
}

.icon-format-list-bulleted:before {
	content: "\e7ba";
}

.icon-format-list-numbered:before {
	content: "\e7bb";
}

.icon-format-paint:before {
	content: "\e7bc";
}

.icon-format-quote:before {
	content: "\e7bd";
}

.icon-format-size:before {
	content: "\e7be";
}

.icon-format-strikethrough:before {
	content: "\e7bf";
}

.icon-format-textdirection-l-to-r:before {
	content: "\e7c0";
}

.icon-format-textdirection-r-to-l:before {
	content: "\e7c1";
}

.icon-format-underline:before {
	content: "\e7c2";
}

.icon-functions:before {
	content: "\e7c3";
}

.icon-insert-chart:before {
	content: "\e7c4";
}

.icon-insert-comment:before {
	content: "\e7c5";
}

.icon-insert-drive-file:before {
	content: "\e7c6";
}

.icon-insert-emoticon:before {
	content: "\e7c7";
}

.icon-insert-invitation:before {
	content: "\e7c8";
}

.icon-insert-link:before {
	content: "\e7c9";
}

.icon-insert-photo:before {
	content: "\e7ca";
}

.icon-merge-type:before {
	content: "\e7cb";
}

.icon-mode-comment:before {
	content: "\e7cc";
}

.icon-mode-edit:before {
	content: "\e7cd";
}

.icon-publish:before {
	content: "\e7ce";
}

.icon-vertical-align-bottom:before {
	content: "\e7cf";
}

.icon-vertical-align-center:before {
	content: "\e7d0";
}

.icon-vertical-align-top:before {
	content: "\e7d1";
}

.icon-wrap-text:before {
	content: "\e7d2";
}

.icon-attachment:before {
	content: "\e7d3";
}

.icon-cloud:before {
	content: "\e7d4";
}

.icon-cloud-circle:before {
	content: "\e7d5";
}

.icon-cloud-done:before {
	content: "\e7d6";
}

.icon-cloud-download:before {
	content: "\e7d7";
}

.icon-cloud-off:before {
	content: "\e7d8";
}

.icon-cloud-queue:before {
	content: "\e7d9";
}

.icon-cloud-upload:before {
	content: "\e7da";
}

.icon-file-download:before {
	content: "\e7db";
}

.icon-file-upload:before {
	content: "\e7dc";
}

.icon-folder:before {
	content: "\e7dd";
}

.icon-folder-open:before {
	content: "\e7de";
}

.icon-folder-shared:before {
	content: "\e7df";
}

.icon-cast:before {
	content: "\e7e0";
}

.icon-cast-connected:before {
	content: "\e7e1";
}

.icon-computer:before {
	content: "\e7e2";
}

.icon-desktop-mac:before {
	content: "\e7e3";
}

.icon-desktop-windows:before {
	content: "\e7e4";
}

.icon-dock:before {
	content: "\e7e5";
}

.icon-gamepad:before {
	content: "\e7e6";
}

.icon-headset:before {
	content: "\e7e7";
}

.icon-headset-m:before {
	content: "\e7e8";
}

.icon-keyboard:before {
	content: "\e7e9";
}

.icon-keyboard-alt:before {
	content: "\e7ea";
}

.icon-keyboard-arrow-down:before {
	content: "\e7eb";
}

.icon-keyboard-arrow-left:before {
	content: "\e7ec";
}

.icon-keyboard-arrow-right:before {
	content: "\e7ed";
}

.icon-keyboard-arrow-up:before {
	content: "\e7ee";
}

.icon-keyboard-backspace:before {
	content: "\e7ef";
}

.icon-keyboard-capslock:before {
	content: "\e7f0";
}

.icon-keyboard-control:before {
	content: "\e7f1";
}

.icon-keyboard-hide:before {
	content: "\e7f2";
}

.icon-keyboard-return:before {
	content: "\e7f3";
}

.icon-keyboard-tab:before {
	content: "\e7f4";
}

.icon-keyboard-voice:before {
	content: "\e7f5";
}

.icon-laptop:before {
	content: "\e7f6";
}

.icon-laptop-chromebook:before {
	content: "\e7f7";
}

.icon-laptop-mac:before {
	content: "\e7f8";
}

.icon-laptop-windows:before {
	content: "\e7f9";
}

.icon-memory:before {
	content: "\e7fa";
}

.icon-mouse:before {
	content: "\e7fb";
}

.icon-phone-android:before {
	content: "\e7fc";
}

.icon-phone-iphone:before {
	content: "\e7fd";
}

.icon-phonelink:before {
	content: "\e7fe";
}

.icon-phonelink-off:before {
	content: "\e7ff";
}

.icon-security:before {
	content: "\e800";
}

.icon-sim-card:before {
	content: "\e801";
}

.icon-smartphone:before {
	content: "\e802";
}

.icon-speaker:before {
	content: "\e803";
}

.icon-tablet:before {
	content: "\e804";
}

.icon-tablet-android:before {
	content: "\e805";
}

.icon-tablet-mac:before {
	content: "\e806";
}

.icon-tv:before {
	content: "\e807";
}

.icon-watch:before {
	content: "\e808";
}

.icon-add-to-photos:before {
	content: "\e809";
}

.icon-adjust:before {
	content: "\e80a";
}

.icon-assistant-photo:before {
	content: "\e80b";
}

.icon-audiotrack:before {
	content: "\e80c";
}

.icon-blur-circular:before {
	content: "\e80d";
}

.icon-blur-linear:before {
	content: "\e80e";
}

.icon-blur-off:before {
	content: "\e80f";
}

.icon-blur-on:before {
	content: "\e810";
}

.icon-brightness-1:before {
	content: "\e811";
}

.icon-brightness-2:before {
	content: "\e812";
}

.icon-brightness-3:before {
	content: "\e813";
}

.icon-brightness-4:before {
	content: "\e814";
}

.icon-brightness-5:before {
	content: "\e815";
}

.icon-brightness-6:before {
	content: "\e816";
}

.icon-brightness-7:before {
	content: "\e817";
}

.icon-brush:before {
	content: "\e818";
}

.icon-camera:before {
	content: "\e819";
}

.icon-camera-alt:before {
	content: "\e81a";
}

.icon-camera-front:before {
	content: "\e81b";
}

.icon-camera-rear:before {
	content: "\e81c";
}

.icon-camera-roll:before {
	content: "\e81d";
}

.icon-center-focus-strong:before {
	content: "\e81e";
}

.icon-center-focus-weak:before {
	content: "\e81f";
}

.icon-collections:before {
	content: "\e820";
}

.icon-color-lens:before {
	content: "\e821";
}

.icon-colorize:before {
	content: "\e822";
}

.icon-compare:before {
	content: "\e823";
}

.icon-control-point:before {
	content: "\e824";
}

.icon-control-point-duplicate:before {
	content: "\e825";
}

.icon-crop-3-2:before {
	content: "\e826";
}

.icon-crop-5-4:before {
	content: "\e827";
}

.icon-crop-7-5:before {
	content: "\e828";
}

.icon-crop-16-9:before {
	content: "\e829";
}

.icon-crop:before {
	content: "\e82a";
}

.icon-crop-din:before {
	content: "\e82b";
}

.icon-crop-free:before {
	content: "\e82c";
}

.icon-crop-landscape:before {
	content: "\e82d";
}

.icon-crop-original:before {
	content: "\e82e";
}

.icon-crop-portrait:before {
	content: "\e82f";
}

.icon-crop-square:before {
	content: "\e830";
}

.icon-dehaze:before {
	content: "\e831";
}

.icon-details:before {
	content: "\e832";
}

.icon-edit:before {
	content: "\e833";
}

.icon-exposure:before {
	content: "\e834";
}

.icon-exposure-minus-1:before {
	content: "\e835";
}

.icon-exposure-minus-2:before {
	content: "\e836";
}

.icon-exposure-plus-1:before {
	content: "\e837";
}

.icon-exposure-plus-2:before {
	content: "\e838";
}

.icon-exposure-zero:before {
	content: "\e839";
}

.icon-filter-1:before {
	content: "\e83a";
}

.icon-filter-2:before {
	content: "\e83b";
}

.icon-filter-3:before {
	content: "\e83c";
}

.icon-filter-4:before {
	content: "\e83d";
}

.icon-filter-5:before {
	content: "\e83e";
}

.icon-filter-6:before {
	content: "\e83f";
}

.icon-filter-7:before {
	content: "\e840";
}

.icon-filter-8:before {
	content: "\e841";
}

.icon-filter-9:before {
	content: "\e842";
}

.icon-filter-9-plus:before {
	content: "\e843";
}

.icon-filter:before {
	content: "\e844";
}

.icon-filter-b-and-w:before {
	content: "\e845";
}

.icon-filter-center-focus:before {
	content: "\e846";
}

.icon-filter-drama:before {
	content: "\e847";
}

.icon-filter-frames:before {
	content: "\e848";
}

.icon-filter-hdr:before {
	content: "\e849";
}

.icon-filter-none:before {
	content: "\e84a";
}

.icon-filter-tilt-shift:before {
	content: "\e84b";
}

.icon-filter-vintage:before {
	content: "\e84c";
}

.icon-flare:before {
	content: "\e84d";
}

.icon-flash-auto:before {
	content: "\e84e";
}

.icon-flash-off:before {
	content: "\e84f";
}

.icon-flash-on:before {
	content: "\e850";
}

.icon-flip:before {
	content: "\e851";
}

.icon-gradient:before {
	content: "\e852";
}

.icon-grain:before {
	content: "\e853";
}

.icon-grid-off:before {
	content: "\e854";
}

.icon-grid-on:before {
	content: "\e855";
}

.icon-hdr-off:before {
	content: "\e856";
}

.icon-hdr-on:before {
	content: "\e857";
}

.icon-hdr-strong:before {
	content: "\e858";
}

.icon-hdr-weak:before {
	content: "\e859";
}

.icon-healing:before {
	content: "\e85a";
}

.icon-image:before {
	content: "\e85b";
}

.icon-image-aspect-ratio:before {
	content: "\e85c";
}

.icon-iso:before {
	content: "\e85d";
}

.icon-landscape:before {
	content: "\e85e";
}

.icon-leak-add:before {
	content: "\e85f";
}

.icon-leak-remove:before {
	content: "\e860";
}

.icon-lens:before {
	content: "\e861";
}

.icon-looks-3:before {
	content: "\e862";
}

.icon-looks-4:before {
	content: "\e863";
}

.icon-looks-5:before {
	content: "\e864";
}

.icon-looks-6:before {
	content: "\e865";
}

.icon-looks:before {
	content: "\e866";
}

.icon-looks-one:before {
	content: "\e867";
}

.icon-looks-two:before {
	content: "\e868";
}

.icon-loupe:before {
	content: "\e869";
}

.icon-movie-creation:before {
	content: "\e86a";
}

.icon-nature:before {
	content: "\e86b";
}

.icon-nature-people:before {
	content: "\e86c";
}

.icon-navigate-before:before {
	content: "\e86d";
}

.icon-navigate-next:before {
	content: "\e86e";
}

.icon-palette:before {
	content: "\e86f";
}

.icon-panorama:before {
	content: "\e870";
}

.icon-panorama-fisheye:before {
	content: "\e871";
}

.icon-panorama-horizontal:before {
	content: "\e872";
}

.icon-panorama-vertical:before {
	content: "\e873";
}

.icon-panorama-wide-angle:before {
	content: "\e874";
}

.icon-photo:before {
	content: "\e875";
}

.icon-photo-album:before {
	content: "\e876";
}

.icon-photo-camera:before {
	content: "\e877";
}

.icon-photo-library:before {
	content: "\e878";
}

.icon-portrait:before {
	content: "\e879";
}

.icon-remove-red-eye:before {
	content: "\e87a";
}

.icon-rotate-left:before {
	content: "\e87b";
}

.icon-rotate-right:before {
	content: "\e87c";
}

.icon-slideshow:before {
	content: "\e87d";
}

.icon-straighten:before {
	content: "\e87e";
}

.icon-style:before {
	content: "\e87f";
}

.icon-switch-camera:before {
	content: "\e880";
}

.icon-switch-video:before {
	content: "\e881";
}

.icon-tag-faces:before {
	content: "\e882";
}

.icon-texture:before {
	content: "\e883";
}

.icon-timelapse:before {
	content: "\e884";
}

.icon-timer-3:before {
	content: "\e885";
}

.icon-timer-10:before {
	content: "\e886";
}

.icon-timer:before {
	content: "\e887";
}

.icon-timer-auto:before {
	content: "\e888";
}

.icon-timer-off:before {
	content: "\e889";
}

.icon-tonality:before {
	content: "\e88a";
}

.icon-transform:before {
	content: "\e88b";
}

.icon-tune:before {
	content: "\e88c";
}

.icon-wb-auto:before {
	content: "\e88d";
}

.icon-wb-cloudy:before {
	content: "\e88e";
}

.icon-wb-incandescent:before {
	content: "\e88f";
}

.icon-wb-irradescent:before {
	content: "\e890";
}

.icon-wb-sunny:before {
	content: "\e891";
}

.icon-beenhere:before {
	content: "\e892";
}

.icon-directions:before {
	content: "\e893";
}

.icon-directions-bike:before {
	content: "\e894";
}

.icon-directions-bus:before {
	content: "\e895";
}

.icon-directions-car:before {
	content: "\e896";
}

.icon-directions-ferry:before {
	content: "\e897";
}

.icon-directions-subway:before {
	content: "\e898";
}

.icon-directions-train:before {
	content: "\e899";
}

.icon-directions-transit:before {
	content: "\e89a";
}

.icon-directions-walk:before {
	content: "\e89b";
}

.icon-flight:before {
	content: "\e89c";
}

.icon-hotel:before {
	content: "\e89d";
}

.icon-layers:before {
	content: "\e89e";
}

.icon-layers-clear:before {
	content: "\e89f";
}

.icon-local-airport:before {
	content: "\e8a0";
}

.icon-local-atm:before {
	content: "\e8a1";
}

.icon-local-attraction:before {
	content: "\e8a2";
}

.icon-local-bar:before {
	content: "\e8a3";
}

.icon-local-cafe:before {
	content: "\e8a4";
}

.icon-local-car-wash:before {
	content: "\e8a5";
}

.icon-local-convenience-store:before {
	content: "\e8a6";
}

.icon-local-drink:before {
	content: "\e8a7";
}

.icon-local-florist:before {
	content: "\e8a8";
}

.icon-local-gas-station:before {
	content: "\e8a9";
}

.icon-local-grocery-store:before {
	content: "\e8aa";
}

.icon-local-hospital:before {
	content: "\e8ab";
}

.icon-local-hotel:before {
	content: "\e8ac";
}

.icon-local-laundry-service:before {
	content: "\e8ad";
}

.icon-local-library:before {
	content: "\e8ae";
}

.icon-local-mall:before {
	content: "\e8af";
}

.icon-local-movies:before {
	content: "\e8b0";
}

.icon-local-offer:before {
	content: "\e8b1";
}

.icon-local-parking:before {
	content: "\e8b2";
}

.icon-local-pharmacy:before {
	content: "\e8b3";
}

.icon-local-phone:before {
	content: "\e8b4";
}

.icon-local-pizza:before {
	content: "\e8b5";
}

.icon-local-play:before {
	content: "\e8b6";
}

.icon-local-post-office:before {
	content: "\e8b7";
}

.icon-local-print-shop:before {
	content: "\e8b8";
}

.icon-local-restaurant:before {
	content: "\e8b9";
}

.icon-local-see:before {
	content: "\e8ba";
}

.icon-local-shipping:before {
	content: "\e8bb";
}

.icon-local-taxi:before {
	content: "\e8bc";
}

.icon-location-history:before {
	content: "\e8bd";
}

.icon-map:before {
	content: "\e8be";
}

.icon-my-location:before {
	content: "\e600";
}

.icon-navigation:before {
	content: "\e601";
}

.icon-pin-drop:before {
	content: "\e602";
}

.icon-place:before {
	content: "\e603";
}

.icon-rate-review:before {
	content: "\e604";
}

.icon-restaurant-menu:before {
	content: "\e605";
}

.icon-satellite:before {
	content: "\e8bf";
}

.icon-store-mall-directory:before {
	content: "\e8c0";
}

.icon-terrain:before {
	content: "\e8c1";
}

.icon-traff:before {
	content: "\e8c2";
}

.icon-apps:before {
	content: "\e8c3";
}

.icon-arrow-back:before {
	content: "\e8c4";
}

.icon-arrow-drop-down:before {
	content: "\e8c5";
}

.icon-arrow-drop-down-circle:before {
	content: "\e8c6";
}

.icon-arrow-drop-up:before {
	content: "\e8c7";
}

.icon-arrow-forward:before {
	content: "\e606";
}

.icon-cancel:before {
	content: "\e607";
}

.icon-check:before {
	content: "\e608";
}

.icon-chevron-left:before {
	content: "\e609";
}

.icon-chevron-right:before {
	content: "\e60a";
}

.icon-close:before {
	content: "\e60b";
}

.icon-expand-less:before {
	content: "\e8c8";
}

.icon-expand-more:before {
	content: "\e8c9";
}

.icon-fullscreen:before {
	content: "\e8ca";
}

.icon-fullscreen-exit:before {
	content: "\e8cb";
}

.icon-menu:before {
	content: "\e8cc";
}

.icon-more-horiz:before {
	content: "\e8cd";
}

.icon-more-vert:before {
	content: "\e8ce";
}

.icon-refresh:before {
	content: "\e8cf";
}

.icon-unfold-less:before {
	content: "\e8d0";
}

.icon-unfold-more:before {
	content: "\e60c";
}

.icon-adb:before {
	content: "\e60d";
}

.icon-bluetooth-audio:before {
	content: "\e60e";
}

.icon-disc-full:before {
	content: "\e60f";
}

.icon-dnd-forwardslash:before {
	content: "\e610";
}

.icon-do-not-disturb:before {
	content: "\e611";
}

.icon-drive-eta:before {
	content: "\e8d1";
}

.icon-event-available:before {
	content: "\e8d2";
}

.icon-event-busy:before {
	content: "\e8d3";
}

.icon-event-note:before {
	content: "\e8d4";
}

.icon-folder-special:before {
	content: "\e8d5";
}

.icon-mms:before {
	content: "\e8d6";
}

.icon-more:before {
	content: "\e8d7";
}

.icon-network-locked:before {
	content: "\e8d8";
}

.icon-phone-bluetooth-speaker:before {
	content: "\e8d9";
}

.icon-phone-forwarded:before {
	content: "\e612";
}

.icon-phone-in-talk:before {
	content: "\e613";
}

.icon-phone-locked:before {
	content: "\e614";
}

.icon-phone-missed:before {
	content: "\e615";
}

.icon-phone-paused:before {
	content: "\e616";
}

.icon-play-download:before {
	content: "\e617";
}

.icon-play-install:before {
	content: "\e8da";
}

.icon-sd-card:before {
	content: "\e8db";
}

.icon-sim-card-alert:before {
	content: "\e8dc";
}

.icon-sms:before {
	content: "\e8dd";
}

.icon-sms-failed:before {
	content: "\e8de";
}

.icon-sync:before {
	content: "\e8df";
}

.icon-sync-disabled:before {
	content: "\e8e0";
}

.icon-sync-problem:before {
	content: "\e8e1";
}

.icon-system-update:before {
	content: "\e8e2";
}

.icon-tap-and-play:before {
	content: "\e618";
}

.icon-time-to-leave:before {
	content: "\e619";
}

.icon-vibration:before {
	content: "\e61a";
}

.icon-voice-chat:before {
	content: "\e61b";
}

.icon-vpn-lock:before {
	content: "\e61c";
}

.icon-cake:before {
	content: "\e61d";
}

.icon-domain:before {
	content: "\e8e3";
}

.icon-group:before {
	content: "\e8e4";
}

.icon-group-add:before {
	content: "\e8e5";
}

.icon-location-city:before {
	content: "\e8e6";
}

.icon-mood:before {
	content: "\e8e7";
}

.icon-notifications:before {
	content: "\e8e8";
}

.icon-notifications-none:before {
	content: "\e8e9";
}

.icon-notifications-off:before {
	content: "\e8ea";
}

.icon-notifications-on:before {
	content: "\e8eb";
}

.icon-notifications-paused:before {
	content: "\e61e";
}

.icon-pages:before {
	content: "\e61f";
}

.icon-party-mode:before {
	content: "\e620";
}

.icon-people:before {
	content: "\e621";
}

.icon-people-outline:before {
	content: "\e622";
}

.icon-person:before {
	content: "\e623";
}

.icon-person-add:before {
	content: "\e8ec";
}

.icon-person-outline:before {
	content: "\e8ed";
}

.icon-plus-one:before {
	content: "\e8ee";
}

.icon-poll:before {
	content: "\e8ef";
}

.icon-publ:before {
	content: "\e8f0";
}

.icon-school:before {
	content: "\e8f1";
}

.icon-share:before {
	content: "\e8f2";
}

.icon-whatshot:before {
	content: "\e8f3";
}

.icon-check-box:before {
	content: "\e8f4";
}

.icon-check-box-outline-blank:before {
	content: "\e624";
}

.icon-radio-button-off:before {
	content: "\e625";
}

.icon-radio-button-on:before {
	content: "\e626";
}

.icon-star:before {
	content: "\e627";
}

.icon-star-half:before {
	content: "\e628";
}

.icon-star-outline:before {
	content: "\e629";
}

.icon-home4:before {
	content: "\e900";
}

.icon-home2:before {
	content: "\e901";
}

.icon-home3:before {
	content: "\e902";
}

.icon-office:before {
	content: "\e903";
}

.icon-newspaper:before {
	content: "\e904";
}

.icon-pencil:before {
	content: "\e905";
}

.icon-pencil2:before {
	content: "\e906";
}

.icon-quill:before {
	content: "\e907";
}

.icon-pen:before {
	content: "\e908";
}

.icon-blog:before {
	content: "\e909";
}

.icon-eyedropper:before {
	content: "\e90a";
}

.icon-droplet:before {
	content: "\e90b";
}

.icon-image2:before {
	content: "\e90d";
}

.icon-images:before {
	content: "\e90e";
}

.icon-camera2:before {
	content: "\e90f";
}

.icon-headphones:before {
	content: "\e910";
}

.icon-music:before {
	content: "\e911";
}

.icon-play:before {
	content: "\e912";
}

.icon-film:before {
	content: "\e913";
}

.icon-video-camera:before {
	content: "\e914";
}

.icon-dice:before {
	content: "\e915";
}

.icon-connection:before {
	content: "\e91b";
}

.icon-podcast:before {
	content: "\e91c";
}

.icon-feed:before {
	content: "\e91d";
}

.icon-mic2:before {
	content: "\e91e";
}

.icon-book2:before {
	content: "\e91f";
}

.icon-books:before {
	content: "\e920";
}

.icon-library:before {
	content: "\e921";
}

.icon-file-text:before {
	content: "\e922";
}

.icon-profile:before {
	content: "\e923";
}

.icon-file-empty:before {
	content: "\e924";
}

.icon-files-empty:before {
	content: "\e925";
}

.icon-file-text2:before {
	content: "\e926";
}

.icon-file-picture:before {
	content: "\e927";
}

.icon-file-music:before {
	content: "\e928";
}

.icon-file-play:before {
	content: "\e929";
}

.icon-file-video:before {
	content: "\e92a";
}

.icon-file-zip:before {
	content: "\e92b";
}

.icon-copy:before {
	content: "\e92c";
}

.icon-stack:before {
	content: "\e92e";
}

.icon-folder2:before {
	content: "\e92f";
}

.icon-folder-open2:before {
	content: "\e930";
}

.icon-folder-plus:before {
	content: "\e931";
}

.icon-folder-minus:before {
	content: "\e932";
}

.icon-folder-download:before {
	content: "\e933";
}

.icon-folder-upload:before {
	content: "\e934";
}

.icon-price-tag:before {
	content: "\e935";
}

.icon-price-tags:before {
	content: "\e936";
}

.icon-barcode:before {
	content: "\e937";
}

.icon-qrcode:before {
	content: "\e938";
}

.icon-ticket:before {
	content: "\e939";
}

.icon-credit-card2:before {
	content: "\e93f";
}

.icon-calculator:before {
	content: "\e940";
}

.icon-lifebuoy:before {
	content: "\e941";
}

.icon-phone2:before {
	content: "\e942";
}

.icon-phone-hang-up:before {
	content: "\e943";
}

.icon-address-book:before {
	content: "\e944";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-pushpin:before {
	content: "\e946";
}

.icon-location:before {
	content: "\e947";
}

.icon-location2:before {
	content: "\e948";
}

.icon-compass:before {
	content: "\e949";
}

.icon-compass2:before {
	content: "\e94a";
}

.icon-history2:before {
	content: "\e94d";
}

.icon-clock:before {
	content: "\e94e";
}

.icon-clock2:before {
	content: "\e94f";
}

.icon-alarm2:before {
	content: "\e950";
}

.icon-bell:before {
	content: "\e951";
}

.icon-stopwatch:before {
	content: "\e952";
}

.icon-calendar:before {
	content: "\e953";
}

.icon-printer:before {
	content: "\e954";
}

.icon-keyboard2:before {
	content: "\e955";
}

.icon-display:before {
	content: "\e956";
}

.icon-laptop2:before {
	content: "\e957";
}

.icon-mobile:before {
	content: "\e958";
}

.icon-mobile2:before {
	content: "\e959";
}

.icon-tablet2:before {
	content: "\e95a";
}

.icon-tv2:before {
	content: "\e95b";
}

.icon-drawer:before {
	content: "\e95c";
}

.icon-drawer2:before {
	content: "\e95d";
}

.icon-box-add:before {
	content: "\e95e";
}

.icon-box-remove:before {
	content: "\e95f";
}

.icon-download:before {
	content: "\e960";
}

.icon-upload:before {
	content: "\e961";
}

.icon-floppy-disk:before {
	content: "\e962";
}

.icon-drive:before {
	content: "\e963";
}

.icon-database:before {
	content: "\e964";
}

.icon-undo3:before {
	content: "\e965";
}

.icon-redo3:before {
	content: "\e966";
}

.icon-undo2:before {
	content: "\e967";
}

.icon-redo2:before {
	content: "\e968";
}

.icon-forward2:before {
	content: "\e969";
}

.icon-reply2:before {
	content: "\e96a";
}

.icon-bubble:before {
	content: "\e96b";
}

.icon-bubbles:before {
	content: "\e96c";
}

.icon-bubbles2:before {
	content: "\e96d";
}

.icon-bubble2:before {
	content: "\e96e";
}

.icon-bubbles3:before {
	content: "\e96f";
}

.icon-bubbles4:before {
	content: "\e970";
}

.icon-user:before {
	content: "\e971";
}

.icon-users:before {
	content: "\e972";
}

.icon-user-plus:before {
	content: "\e973";
}

.icon-user-minus:before {
	content: "\e974";
}

.icon-user-check:before {
	content: "\e975";
}

.icon-user-tie:before {
	content: "\e976";
}

.icon-quotes-left:before {
	content: "\e977";
}

.icon-quotes-right:before {
	content: "\e978";
}

.icon-spinner:before {
	content: "\e97a";
}

.icon-spinner2:before {
	content: "\e97b";
}

.icon-spinner3:before {
	content: "\e97c";
}

.icon-spinner4:before {
	content: "\e97d";
}

.icon-spinner5:before {
	content: "\e97e";
}

.icon-spinner6:before {
	content: "\e97f";
}

.icon-spinner7:before {
	content: "\e980";
}

.icon-spinner8:before {
	content: "\e981";
}

.icon-spinner9:before {
	content: "\e982";
}

.icon-spinner10:before {
	content: "\e983";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-binoculars:before {
	content: "\e985";
}

.icon-search2:before {
	content: "\e986";
}

.icon-zoom-in:before {
	content: "\e987";
}

.icon-zoom-out:before {
	content: "\e988";
}

.icon-enlarge:before {
	content: "\e989";
}

.icon-shrink:before {
	content: "\e98a";
}

.icon-enlarge2:before {
	content: "\e98b";
}

.icon-shrink2:before {
	content: "\e98c";
}

.icon-key:before {
	content: "\e98d";
}

.icon-key2:before {
	content: "\e98e";
}

.icon-lock2:before {
	content: "\e98f";
}

.icon-unlocked:before {
	content: "\e990";
}

.icon-equalizer3:before {
	content: "\e992";
}

.icon-equalizer2:before {
	content: "\e993";
}

.icon-cog:before {
	content: "\e994";
}

.icon-cogs:before {
	content: "\e995";
}

.icon-magic-wand:before {
	content: "\e997";
}

.icon-pie-chart:before {
	content: "\e99a";
}

.icon-stats-dots:before {
	content: "\e99b";
}

.icon-stats-bars:before {
	content: "\e99c";
}

.icon-stats-bars2:before {
	content: "\e99d";
}

.icon-glass:before {
	content: "\e9a0";
}

.icon-glass2:before {
	content: "\e9a1";
}

.icon-mug:before {
	content: "\e9a2";
}

.icon-spoon-knife:before {
	content: "\e9a3";
}

.icon-leaf:before {
	content: "\e9a4";
}

.icon-rocket:before {
	content: "\e9a5";
}

.icon-meter:before {
	content: "\e9a6";
}

.icon-meter2:before {
	content: "\e9a7";
}

.icon-bin:before {
	content: "\e9ac";
}

.icon-bin2:before {
	content: "\e9ad";
}

.icon-briefcase:before {
	content: "\e9ae";
}

.icon-airplane:before {
	content: "\e9af";
}

.icon-road:before {
	content: "\e9b1";
}

.icon-accessibility2:before {
	content: "\e9b2";
}

.icon-target:before {
	content: "\e9b3";
}

.icon-shield:before {
	content: "\e9b4";
}

.icon-power:before {
	content: "\e9b5";
}

.icon-switch:before {
	content: "\e9b6";
}

.icon-power-cord:before {
	content: "\e9b7";
}

.icon-clipboard:before {
	content: "\e9b8";
}

.icon-list-numbered:before {
	content: "\e9b9";
}

.icon-list3:before {
	content: "\e9ba";
}

.icon-list2:before {
	content: "\e9bb";
}

.icon-tree:before {
	content: "\e9bc";
}

.icon-menu5:before {
	content: "\e9bd";
}

.icon-menu2:before {
	content: "\e9be";
}

.icon-menu3:before {
	content: "\e9bf";
}

.icon-menu4:before {
	content: "\e9c0";
}

.icon-cloud2:before {
	content: "\e9c1";
}

.icon-cloud-download2:before {
	content: "\e9c2";
}

.icon-cloud-upload2:before {
	content: "\e9c3";
}

.icon-cloud-check:before {
	content: "\e9c4";
}

.icon-download2:before {
	content: "\e9c5";
}

.icon-upload2:before {
	content: "\e9c6";
}

.icon-download3:before {
	content: "\e9c7";
}

.icon-upload3:before {
	content: "\e9c8";
}

.icon-sphere:before {
	content: "\e9c9";
}

.icon-earth:before {
	content: "\e9ca";
}

.icon-link2:before {
	content: "\e9cb";
}

.icon-flag2:before {
	content: "\e9cc";
}

.icon-attachment2:before {
	content: "\e9cd";
}

.icon-eye:before {
	content: "\e9ce";
}

.icon-eye-plus:before {
	content: "\e9cf";
}

.icon-eye-minus:before {
	content: "\e9d0";
}

.icon-eye-blocked:before {
	content: "\e9d1";
}

.icon-bookmark2:before {
	content: "\e9d2";
}

.icon-bookmarks:before {
	content: "\e9d3";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-checkmark:before {
	content: "\ea10";
}

.icon-checkmark2:before {
	content: "\ea11";
}

.icon-command:before {
	content: "\ea4e";
}

.icon-crop2:before {
	content: "\ea57";
}

.icon-font:before {
	content: "\ea5c";
}

.icon-ligature:before {
	content: "\ea5d";
}

.icon-ligature2:before {
	content: "\ea5e";
}

.icon-text-height:before {
	content: "\ea5f";
}

.icon-text-width:before {
	content: "\ea60";
}

.icon-font-size:before {
	content: "\ea61";
}

.icon-bold:before {
	content: "\ea62";
}

.icon-underline:before {
	content: "\ea63";
}

.icon-italic:before {
	content: "\ea64";
}

.icon-page-break:before {
	content: "\ea68";
}

.icon-superscript:before {
	content: "\ea69";
}

.icon-subscript:before {
	content: "\ea6a";
}

.icon-superscript2:before {
	content: "\ea6b";
}

.icon-subscript2:before {
	content: "\ea6c";
}

.icon-text-color:before {
	content: "\ea6d";
}

.icon-pagebreak:before {
	content: "\ea6e";
}

.icon-clear-formatting:before {
	content: "\ea6f";
}

.icon-table:before {
	content: "\ea70";
}

.icon-table2:before {
	content: "\ea71";
}

.icon-insert-template:before {
	content: "\ea72";
}

.icon-pilcrow:before {
	content: "\ea73";
}

.icon-ltr:before {
	content: "\ea74";
}

.icon-rtl:before {
	content: "\ea75";
}

.icon-section:before {
	content: "\ea76";
}

.icon-paragraph-left:before {
	content: "\ea77";
}

.icon-paragraph-center:before {
	content: "\ea78";
}

.icon-paragraph-right:before {
	content: "\ea79";
}

.icon-paragraph-justify:before {
	content: "\ea7a";
}

.icon-indent-increase:before {
	content: "\ea7b";
}

.icon-indent-decrease:before {
	content: "\ea7c";
}

.icon-share3:before {
	content: "\ea7d";
}

.icon-new-tab:before {
	content: "\ea7e";
}

.icon-embed:before {
	content: "\ea7f";
}

.icon-embed2:before {
	content: "\ea80";
}

.icon-terminal:before {
	content: "\ea81";
}

.icon-share2:before {
	content: "\ea82";
}

.icon-mail5:before {
	content: "\ea83";
}

.icon-mail2:before {
	content: "\ea84";
}

.icon-mail3:before {
	content: "\ea85";
}

.icon-mail4:before {
	content: "\ea86";
}

.icon-google:before {
	content: "\ea87";
}

.icon-google-plus:before {
	content: "\ea88";
}

.icon-google-plus2:before {
	content: "\ea89";
}

.icon-google-plus3:before {
	content: "\ea8a";
}

.icon-google-drive:before {
	content: "\ea8b";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-facebook3:before {
	content: "\ea8e";
}

.icon-ello:before {
	content: "\ea8f";
}

.icon-instagram:before {
	content: "\ea90";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-twitter3:before {
	content: "\ea93";
}

.icon-feed2:before {
	content: "\ea94";
}

.icon-feed3:before {
	content: "\ea95";
}

.icon-feed4:before {
	content: "\ea96";
}

.icon-youtube:before {
	content: "\ea97";
}

.icon-youtube2:before {
	content: "\ea98";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-youtube4:before {
	content: "\ea9a";
}

.icon-twitch:before {
	content: "\ea9b";
}

.icon-vimeo:before {
	content: "\ea9c";
}

.icon-vimeo2:before {
	content: "\ea9d";
}

.icon-vimeo3:before {
	content: "\ea9e";
}

.icon-lanyrd:before {
	content: "\ea9f";
}

.icon-flickr:before {
	content: "\eaa0";
}

.icon-flickr2:before {
	content: "\eaa1";
}

.icon-flickr3:before {
	content: "\eaa2";
}

.icon-flickr4:before {
	content: "\eaa3";
}

.icon-picassa:before {
	content: "\eaa4";
}

.icon-picassa2:before {
	content: "\eaa5";
}

.icon-dribbble:before {
	content: "\eaa6";
}

.icon-dribbble2:before {
	content: "\eaa7";
}

.icon-dribbble3:before {
	content: "\eaa8";
}

.icon-forrst:before {
	content: "\eaa9";
}

.icon-forrst2:before {
	content: "\eaaa";
}

.icon-deviantart:before {
	content: "\eaab";
}

.icon-deviantart2:before {
	content: "\eaac";
}

.icon-steam:before {
	content: "\eaad";
}

.icon-steam2:before {
	content: "\eaae";
}

.icon-dropbox:before {
	content: "\eaaf";
}

.icon-onedrive:before {
	content: "\eab0";
}

.icon-github:before {
	content: "\eab1";
}

.icon-github2:before {
	content: "\eab2";
}

.icon-github3:before {
	content: "\eab3";
}

.icon-github4:before {
	content: "\eab4";
}

.icon-github5:before {
	content: "\eab5";
}

.icon-wordpress:before {
	content: "\eab6";
}

.icon-wordpress2:before {
	content: "\eab7";
}

.icon-joomla:before {
	content: "\eab8";
}

.icon-blogger:before {
	content: "\eab9";
}

.icon-blogger2:before {
	content: "\eaba";
}

.icon-tumblr:before {
	content: "\eabb";
}

.icon-tumblr2:before {
	content: "\eabc";
}

.icon-yahoo:before {
	content: "\eabd";
}

.icon-tux:before {
	content: "\eabe";
}

.icon-apple:before {
	content: "\eabf";
}

.icon-finder:before {
	content: "\eac0";
}

.icon-android:before {
	content: "\eac1";
}

.icon-windows:before {
	content: "\eac2";
}

.icon-windows8:before {
	content: "\eac3";
}

.icon-soundcloud:before {
	content: "\eac4";
}

.icon-soundcloud2:before {
	content: "\eac5";
}

.icon-skype:before {
	content: "\eac6";
}

.icon-reddit:before {
	content: "\eac7";
}

.icon-linkedin:before {
	content: "\eac8";
}

.icon-linkedin2:before {
	content: "\eac9";
}

.icon-lastfm:before {
	content: "\eaca";
}

.icon-lastfm2:before {
	content: "\eacb";
}

.icon-delicious:before {
	content: "\eacc";
}

.icon-stumbleupon:before {
	content: "\eacd";
}

.icon-stumbleupon2:before {
	content: "\eace";
}

.icon-stackoverflow:before {
	content: "\eacf";
}

.icon-pinterest:before {
	content: "\ead0";
}

.icon-pinterest2:before {
	content: "\ead1";
}

.icon-xing:before {
	content: "\ead2";
}

.icon-xing2:before {
	content: "\ead3";
}

.icon-flattr:before {
	content: "\ead4";
}

.icon-foursquare:before {
	content: "\ead5";
}

.icon-paypal:before {
	content: "\ead6";
}

.icon-paypal2:before {
	content: "\ead7";
}

.icon-paypal3:before {
	content: "\ead8";
}

.icon-yelp:before {
	content: "\ead9";
}

.icon-file-pdf:before {
	content: "\eada";
}

.icon-file-openoffice:before {
	content: "\eadb";
}

.icon-file-word:before {
	content: "\eadc";
}

.icon-file-excel:before {
	content: "\eadd";
}

.icon-libreoffice:before {
	content: "\eade";
}

.icon-html5:before {
	content: "\eadf";
}

.icon-html52:before {
	content: "\eae0";
}

.icon-css3:before {
	content: "\eae1";
}

.icon-git:before {
	content: "\eae2";
}

.icon-svg:before {
	content: "\eae3";
}

.icon-codepen:before {
	content: "\eae4";
}

.icon-chrome:before {
	content: "\eae5";
}

.icon-firefox:before {
	content: "\eae6";
}

.icon-IE:before {
	content: "\eae7";
}

.icon-opera:before {
	content: "\eae8";
}

.icon-safari:before {
	content: "\eae9";
}

.icon-IcoMoon:before {
	content: "\eaea";
}

